# Core PostgreSQL
CORE_POSTGRES_HOST=db
CORE_POSTGRES_PORT=5432
CORE_POSTGRES_USER=admin
CORE_POSTGRES_PASSWORD=test
CORE_POSTGRES_DB=core

# Authentik PostgreSQL
AUTHENTIK_PG_USER=authentik
AUTHENTIK_PG_PASS=
AUTHENTIK_PG_DB=authentik

# Authentik
AUTHENTIK_SECRET_KEY=
AUTHENTIK_ERROR_REPORTING__ENABLED=true

# Authentik OIDC
AUTHENTIK_TAEKWONDO_WEB_CLIENT_SECRET=

# Authentik Ports
# AUTHENTIK_COMPOSE_PORT_HTTP=9000
# AUTHENTIK_COMPOSE_PORT_HTTPS=9443

# Authentik Image
# AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
# AUTHENTIK_TAG=2026.2.0

# Authentik SMS
# AUTHENTIK_SMSC_LOGIN=
# AUTHENTIK_SMSC_PASSWORD=
# AUTHENTIK_SMSC_SENDER=Taekwondo

# Authentik Email
# AUTHENTIK_EMAIL__HOST=smtp.example.com
# AUTHENTIK_EMAIL__PORT=587
# AUTHENTIK_EMAIL__USERNAME=noreply@example.com
# AUTHENTIK_EMAIL__PASSWORD=
# AUTHENTIK_EMAIL__USE_TLS=true
# AUTHENTIK_EMAIL__USE_SSL=false
# AUTHENTIK_EMAIL__FROM=noreply@example.com
# AUTHENTIK_EMAIL__TIMEOUT=10