spring:
  flyway:
    enabled: true
    locations: classpath:db/migration

  logging: 
    level: 
      org.springframework.web: DEBUG

  datasource: 
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  application:
    name: core
